* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-board-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    position: absolute;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid black;
    height: 600px;
    width: 600px;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}