* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#game-board-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    position: absolute;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid black;
    height: 602px;
    width: 602px;
}

.tiles {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    line-height: 200px;
    text-align: center;
    font-size: 100px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tiles:hover {
    cursor: pointer;
    background-color: cadetblue;
    border: 1px solid black;
}