* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    height: 602px;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

#game-board-container {
    flex: 0 0 auto;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    background-color: aliceblue;
    border: 1px solid black;
    height: 602px;
    width: 602px;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.tiles {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    line-height: 200px;
    text-align: center;
    font-size: 100px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tiles:hover {
    cursor: pointer;
    background-color: cadetblue;
    border: 1px solid black;
}

.announcement {
    font-size: 28px;
    font-weight: bold;
}

.restart-button {
    font-size: 24px;
    border: 1px solid black;
    padding: 4px;
    border-radius: 8px;
}

.restart-button:hover {
    cursor: pointer;
}